/* Alignment for form inputs */
.example-content {
  margin-bottom: 20px;
}

.wrap-label {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  display: block !important;
}
