<div class="example-content">
    @if(controls && controls.length){
    <h5>Personal Information</h5>
    @for( input of controls; track input) {
    @if(input.type =="Text Box" || input.type =="date"){
    <ion-input #ioninput name="{{input.name}}" class="wrap-label" [labelPlacement]="'stacked'" label="{{input.label}}"
        type="{{input.type}}" [(ngModel)]="userDetails[input.name]"></ion-input>
    }

    @if(input.type =="Radio Button" || input.type =="List Menu"){
    <ion-label class="wrap-label">{{input.label}}</ion-label>
    <ion-radio-group #ionRadioInput name="{{input.name}}" [(ngModel)]="userDetails[input.name]">
        <ion-list>
            @for(option of input.options; track option) {
            <ion-item>
                <ion-label class="wrap-label">{{ option.value }}</ion-label>
                <ion-radio slot="start" [value]="option.value"></ion-radio>
            </ion-item>
            }
        </ion-list>
    </ion-radio-group>
    }

    @if(input.type == "Check Box"){
    <ion-label class="wrap-label">{{ input.label }}</ion-label>
    <ion-list>
        @for(option of input.options; track option) {
        <ion-item>
            <ion-checkbox name="{{input.name}}" #ionCheckboxInput slot="start" [value]="option.value">
            </ion-checkbox>
            <ion-label class="wrap-label">{{ option.value }}</ion-label>
        </ion-item>
        }
    </ion-list>
    }

    }

    <ion-button fill="clear" (click)="onCancel()" size="small">cancel</ion-button>
    <ion-button fill="clear" (click)="onSubmit()" size="small">Process</ion-button>

    }
</div>