<ion-tabs>
  <div class="top-bar">
    <ion-button fill="clear" size="small" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Logout</ion-button>
  </div>
  <!-- Home Tab -->
  <ion-tab tab="home" class="layout-main-pag">
    <ion-content>
      <div id="home-page">
        <div class="example-content">
          <p>Enter the number of minutes you want the process to run:</p>
        </div>

        <ion-item>
          <ion-input label="Profile Update" name="ionProfileUpdat" labelPlacement="floating" type="text" #ionProfileUpdate
            placeholder="Profile Update" class="item"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Minutes" #ionMinutes type="number" name="ionMinute" class="item"
            placeholder="Enter time in minutes"></ion-input>
        </ion-item>

        <ion-button size="small" (click)="beginTheProcess()" shape="round" expand="full">{{btnMsg}}</ion-button>
        @if(time){
        <h2>{{ time | date:'HH:mm:ss':'UTC' }}</h2>

        <p>
          {{ apiService.apiresponseData.content }}
        </p>
        <p>
          <strong>Previous Status:</strong> {{ apiService.apiresponseData.status }}
        </p>

        }

      </div>
    </ion-content>
  </ion-tab>

  <ion-tab class="layout-main-pag"  tab="search">
    <ion-content>
      <div id="search-page">
        <div class="example-content">
          <ion-searchbar (ionInput)="handleInput($event)" #searchBar
            placeholder="Enter skills / designations / companies"></ion-searchbar>
          @if(results.length && !selectedValue){
          <div class="results-wrapper">
            <ion-list>
              @for (result of results; track result) {
              <ion-item (click)="selectResult(result.name[0])">
                <ion-label>{{ result.name[0] }}</ion-label>
              </ion-item>
              }
            </ion-list>
          </div>
          }
          <ion-input name="Experience" label="Experience" type="text" [(ngModel)]="userDetails.Experience"
            placeholder="Enter your experience"></ion-input>
          <ion-input name="PreferedLocation" label="Prefered Location" type="text"
            [(ngModel)]="userDetails.prefLocation" placeholder="Enter your Prefered Location"></ion-input>
          <ion-input name="PreferedTitle" label="Prefered Title" type="text" [(ngModel)]="userDetails.PreferedTitle"
            placeholder="Enter your Prefered Title with coma(,)"></ion-input>
          <ion-item>
            <ion-label>Freshness</ion-label>
            <ion-select interface="popover" #selectRef placeholder="Select time range">
              <ion-select-option value="1">Last 1 day</ion-select-option>
              <ion-select-option value="3">Last 3 days</ion-select-option>
              <ion-select-option value="7">Last 7 days</ion-select-option>
              <ion-select-option value="15">Last 15 days</ion-select-option>
              <ion-select-option value="30">Last 30 days</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="overlay-ref">
          <div class="content">
            <app-details #detialComponentRef [isChanged]="this.apiService.canProceed"></app-details>

            <ion-button (click)="submitSearch()" shape="round" size="small" expand="full">{{buttonMsg}}</ion-button>
            <!-- <ion-button (click)="clearChatRes()" shape="round" size="small" expand="full">clear Chat
              response</ion-button> -->

            @if(showMessage){
            <div class="message-display">
              <p>{{messageContent}}</p>
            </div>
            }

            @if(apiService.count){
            <span class="center-text">Applied: {{apiService.count}}</span>
            }
          @if(apiService.dailyCount && apiService.monthlyCount){
          <span class="center-text">Daily Applied: {{apiService.dailyCount}}</span>
          <span class="center-text">Monthly Applied: {{apiService.monthlyCount}}</span>
          }

            @if(apiService.appliedJobDetails && apiService.appliedJobDetails.length){
            <div class="applied-list">
              <p>Applied Lists:</p>
              <ul>
                <table border="1" style="width: 100%; border-collapse: collapse;">
                  <thead>
                    <tr>
                      <th style="padding: 8px;">Company Name</th>
                      <th style="padding: 8px;">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of apiService.appliedJobDetails">
                      @for ( job of item?.jobs; track job.id){
                      <td style="padding: 8px;">{{ job?.companyName }}</td>
                      <td style="padding: 8px;"><ion-icon name="checkmark-circle-outline" role="img"
                          class="md"></ion-icon></td>
                      }
                    </tr>
                  </tbody>
                </table>
              </ul>
            </div>
            }

            @if(apiService.chatResponseJobDetails && apiService.chatResponseJobDetails.length){
            <p>Chat Response:</p>
            <ul>
              <table border="1" style="width: 100%; border-collapse: collapse;">
                <thead>
                  <tr>
                    <th style="padding: 8px;">Company Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of apiService.chatResponseJobDetails">
                    @for ( job of item?.jobs; track job.id){
                    <td id="open-toast" (click)="openJobDetail(item)" style="padding: 8px;">{{job?.companyName}}
                    </td>
                    }
                  </tr>
                </tbody>
              </table>
            </ul>
            <!-- <ion-button fill="clear" (click)="exportToExcel()" size="small">
              <ion-icon slot="start" name="download-outline"></ion-icon>
              Export
            </ion-button> -->
            }
            @if( apiService.errorMsg && apiService.errorMsg.length){
            <div class="error-list">
              <p>Errors:</p>
              <ul>
                <li *ngFor="let item of apiService.errorMsg">{{item}}</li>
              </ul>
            </div>
            }
          </div>
        </div>
        <p class="edit-storage" (click)="openPreference()">
          <ion-icon name="file-tray" class="header-icon" aria-label="Edit Preferences"></ion-icon>
          Edit Storage
        </p>


      </div>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-icon name="home"></ion-icon>
    <ion-tab-button tab="home" class="tab-align">
      <ion-icon name="play-circle"></ion-icon>
      Profile Update
    </ion-tab-button>
    <ion-tab-button tab="search" class="tab-align">
      <ion-icon name="search" role="img" class="md"></ion-icon>
      Job Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>