<ion-tabs>
  <div class="top-bar">
    <!-- <ion-button fill="clear" size="small" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Logout</ion-button> -->
  </div>
  <!-- Home Tab -->
  <!-- <ion-tab tab="home" class="layout-main-pag">
    <ion-content>
      <div id="home-page">
        <div class="example-content">
          <p>Enter the number of minutes you want the process to run:</p>
        </div>

        <ion-item>
          <ion-input label="Profile Update" name="ionProfileUpdat" labelPlacement="floating" type="text"
            #ionProfileUpdate placeholder="Profile Update" class="item"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Minutes" #ionMinutes type="number" name="ionMinute" class="item"
            placeholder="Enter time in minutes"></ion-input>
        </ion-item>

        <ion-button size="small" (click)="beginTheProcess()" shape="round" expand="full">{{btnMsg}}</ion-button>
        @if(time){
        <ion-chip color="primary">
          <ion-label>Time:</ion-label>
          <ion-badge color="light">{{ time | date:'HH:mm:ss':'UTC' }}</ion-badge>
        </ion-chip>

        <p>
          {{ apiService.apiresponseData.content }}
        </p>


        <ion-chip color="primary">
          <ion-label>Previous Status:</ion-label>
          <ion-badge color="light">{{ apiService.apiresponseData.status}}</ion-badge>
        </ion-chip>

        }

      </div>
    </ion-content>
  </ion-tab> -->

  <ion-tab class="layout-main-pag" tab="search">
    <ion-content *ngIf="!canShowChatResponse">
      <!-- 🔹 COMPACT BAR (initial view) -->
      <div class="search-bar-wrapper" *ngIf="!showFullSearch">
        <div class="collapsed-bar">
          <ion-item lines="none" class="compact-item" (click)="showFullSearch = !showFullSearch">
            <ion-label class="search-label" color="medium">{{(userDetails?.skills)?userDetails?.skills +','+
              userDetails?.Experience : 'Search jobs, skills, companies...'}}</ion-label>
            <ion-icon name="search-outline" slot="start"></ion-icon>
          </ion-item>
        </div>

        <!-- <div class="icon-wrapper">

          <div class="divider"></div>

          <ion-icon name="pause-outline" class="right-icon" *ngIf="isStopped" (click)="pauseTriggered($event)">
          </ion-icon>

          <ion-icon name="play-outline" class="right-icon" *ngIf="!isStopped" (click)="playTriggered($event)">
          </ion-icon>
        </div> -->

      </div>

      <!-- 🔹 EXPANDED SEARCH PANEL -->
      <div *ngIf="showFullSearch" class="expanded-search-wrapper">
        <!-- Searchbar -->
        <ion-searchbar #searchBarRef (ngModelChange)="handleSearchChange($event)" (blur)="onSearchBlurTriggered()"
          [(ngModel)]="userDetails.skills" placeholder="Enter skills / designations / companies"
          showCancelButton="focus" (ionClear)="clearSearch()" debounce="300">
        </ion-searchbar>
        @if(results && results.length && canShowSearchList){
        <div class="results-wrapper">
          <ion-list>
            @for (result of results; track result) {
            <ion-item (click)="selectResult(result.name[0])">
              <ion-label>{{ result.name[0] }}</ion-label>
            </ion-item>
            }
          </ion-list>
        </div>
        }

        <!-- Filters -->
        <div class="filters">
          <ion-input name="Experience" label="Experience" type="text" [(ngModel)]="userDetails.Experience"
            placeholder="e.g. 3+ years">
          </ion-input>

          <ion-input name="PreferredLocation" label="Preferred Location" type="text"
            [(ngModel)]="userDetails.prefLocation" placeholder="e.g. Remote, Mumbai">
          </ion-input>
          <div class="d-flex">
            <ion-input name="PreferredTitle" label="Preferred Title" type="text" [(ngModel)]="userDetails.PreferedTitle"
              placeholder="e.g. Developer, Analyst" class="flex-1"></ion-input>

            <div class="checkbox-with-label">
              <ion-checkbox [(ngModel)]="userDetails.canFilter"></ion-checkbox>
              <span class="checkbox-help">Only Match</span>
            </div>
          </div>



          <ion-item class="dropdown">
            <ion-label>Freshness</ion-label>
            <ion-select interface="popover" [(ngModel)]="userDetails.freshness" #selectRef
              placeholder="Select time range">
              <ion-select-option value="1">Last 1 day</ion-select-option>
              <ion-select-option value="3">Last 3 days</ion-select-option>
              <ion-select-option value="7">Last 7 days</ion-select-option>
              <ion-select-option value="15">Last 15 days</ion-select-option>
              <ion-select-option value="30">Last 30 days</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <!-- Search Buttons -->
        <div class="search-actions">
          <ion-button (click)="submitSearch()" shape="round" size="small" expand="block">
            {{buttonMsg}}
          </ion-button>
          <ion-button fill="clear" size="small" (click)="showFullSearch = !showFullSearch">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <p class="edit-storage" (click)="openPreference()">
          <ion-icon name="create-outline" class="header-icon" aria-label="Edit Preferences"></ion-icon>
          Edit Storage
        </p>
      </div>

      @if(showMessage){
      <div class="message-display">
        <p>{{messageContent}}</p>
      </div>
      }

      @if(apiService.dailyCount && apiService.monthlyCount && !showFullSearch){
      <ion-chip color="primary">
        <ion-label>Daily Applied:</ion-label>
        <ion-badge color="light">{{ apiService.dailyCount}}</ion-badge>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>Monthly Applied:</ion-label>
        <ion-badge color="light">{{ apiService.monthlyCount}}</ion-badge>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>Pending List:</ion-label>
        <ion-badge color="light">{{ apiService.chatResponseJobDetails.length }}</ion-badge>
      </ion-chip>


      <!-- <span class="center-text">Daily Applied: {{apiService.dailyCount}}</span> -->
      <!-- <span class="center-text">Monthly Applied: {{apiService.monthlyCount}}</span> -->
      }

      @if(apiService.appliedJobDetails && apiService.appliedJobDetails.length && !showFullSearch){
      <div class="card-section">
        @for ( item of apiService.appliedJobDetails; track jobIdIndex($index, item.id)){
        @for (job of item?.jobs; track jobIdIndex($index, job.id)) {
        <ion-card class="card-container">
          <div class="card-content-with-status">
            <div class="card-main">
              <ion-card-header>
                <ion-card-title>{{ job?.companyName }}</ion-card-title>
                <ion-card-subtitle>{{ job?.jobTitle }}</ion-card-subtitle>
              </ion-card-header>
            </div>
            <div class="status-strip" [ngClass]="{
                              'status-success': item?.status === 'success',
                              'status-pending': item?.status === 'pending'
                            }">
            </div>
          </div>
        </ion-card>
        }

        }
      </div>
      }

      @if(apiService.chatResponseJobDetails && apiService.chatResponseJobDetails.length && !showFullSearch){

      @for ( item of apiService.chatResponseJobDetails; track jobIdIndex($index, item.id)){
      @for (job of item?.jobs; track jobIdIndex($index, job.id)) {
      <ion-card class="card-container" (click)="openJobDetail(item)">
        <div class="card-content-with-status">
          <div class="card-main">
            <ion-card-header>
              <ion-card-title>{{ job?.companyName }}</ion-card-title>
              <ion-card-subtitle>{{ job?.jobTitle }}</ion-card-subtitle>
            </ion-card-header>
          </div>
          <div class="status-strip" [ngClass]="{
                              'status-success': item?.status === 'success',
                              'status-pending': item?.status === 'pending'
                            }">
            <!-- <ion-icon [name]="job?.status === 'success' ? 'checkmark-circle' : 'time'"></ion-icon> -->
          </div>
        </div>
      </ion-card>
      }

      }

      <!-- <ion-button fill="clear" (click)="exportToExcel()" size="small">
              <ion-icon slot="start" name="download-outline"></ion-icon>
              Export
            </ion-button> -->
      }
      @if( apiService.errorMsg && apiService.errorMsg.length && !showFullSearch){
      <div class="error-list">
        <p>Errors:</p>
        <ul>
          <li *ngFor="let item of apiService.errorMsg">{{item}}</li>
        </ul>
      </div>
      }


    </ion-content>
    <ion-content [class.force-hide]="!canShowChatResponse">
      <app-details #detialComponentRef [isChanged]="this.apiService.canProceed"
        (onSuccess)="onSuccessEvent($event)"></app-details>
    </ion-content>
  </ion-tab>

  <!-- <ion-tab-bar slot="bottom">
    <ion-icon name="home"></ion-icon>
    <ion-tab-button tab="home" class="tab-align">
      <ion-icon name="play-circle"></ion-icon>
      Profile Update
    </ion-tab-button>
    <ion-tab-button tab="search" class="tab-align">
      <ion-icon name="search" role="img" class="md"></ion-icon>
      Job Search
    </ion-tab-button>
  </ion-tab-bar> -->
</ion-tabs>