.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}

ion-item {
  width: 100%;
  max-width: 400px; /* Adjust this to suit your design */
  margin-bottom: 16px;
}

ion-button {
  width: 100%;
  max-width: 200px; /* Adjust this to suit your design */
  margin-top: 16px;
}

p {
  text-align: center;
  margin-top: 16px;
}
/* Center the icons and message */
.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

ion-icon {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

