<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <!-- Centering content -->
  <div class="center-container">
    <!-- <ion-item>
      <ion-input label="Username" labelPlacement="floating" required #ionUsername placeholder="Enter Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Password" labelPlacement="floating" required type="password" #ionPassword
        placeholder="Enter Password"></ion-input>
    </ion-item> -->


    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <ion-item>
        <ion-input
          formControlName="username"
          label="Username"
          labelPlacement="floating"
          #ionUsername
          placeholder="Enter Username">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="username.invalid && (username.dirty || username.touched)">
        <p *ngIf="username.errors?.['required']">Username is required</p>
      </ion-text>
    
      <ion-item>
        <ion-input
          formControlName="password"
          label="Password"
          labelPlacement="floating"
          placeholder="Enter Password"
          #ionPassword
          type="password">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        <p *ngIf="password.errors?.['required']">Password is required</p>
      </ion-text>
    
      <ion-button shape="round" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
    
    </form>

    <!-- <ion-button (click)="login()" shape="round">Login</ion-button> -->

    <div *ngIf="messageContent" class="message-container">
      <ion-icon *ngIf="messageContent.includes('successful')" name="checkmarkCircle" color="success"
        size="large"></ion-icon>
      <ion-icon *ngIf="messageContent.includes('failed')" name="closeCircle" color="danger" size="large"></ion-icon>

      <p>{{ messageContent }}</p>
    </div>
  </div>
</ion-content>